/*.button{
    -fx-background-color: transparent;            to configure all the buttons
}*/

#openFile{
    -fx-background-image: url("../images/folder.jpg");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent; 
}

#playButton{
    -fx-background-image: url("../images/play.jpg");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent; 
}

#pauseButton{
    -fx-background-image: url("../images/pause.jpg");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent; 
}

#stopButton{
    -fx-background-image: url("../images/stop.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: transparent; 
}


/* if we had images for rate control buttons */ 

/*#fastButton{
    -fx-background-image: url("../images/fast.jpg");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#fasterButton{
    -fx-background-image: url("../images/faster.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#slowButton{
    -fx-background-image: url("../images/slow.png");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#slowerButton{
    -fx-background-image: url("../images/slower.jpg");
    -fx-background-size: 20 20;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}*/
